/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@700;800&display=swap');


/* Variables */

:root {
    --primary: #4361ee;
    --primary-dark: #3f37c9;
    --secondary: #4cc9f0;
    --dark: #2b2d42;
    --light: #f8f9fa;
    --accent: #f72585;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}